
.is-active{
    font-weight: bold;
    color : black;
}

.headNav{
    background-color:none;
    padding-left: 30px !important;
    padding-right: 30px !important;
    color: White !important;
    font: 600 16px 'Open Sans', sans-serif !important;
    font-weight: 600 !important;
    border-right:2px solid gray !important; 
    &:hover{
        text-decoration: none !important;
        color: rgb(255, 196, 35) !important;
    }
}
.logo{
    height: 100px;
    width: 200px; 
      
}
.InfoBox{
    display: flex;
    align-items: center;
    h3{
        margin-right: 20px;
    }
}
.Logo-box{
        padding:20px;
        height: 100px;
        display: flex;
        
        justify-content: center;
        justify-content: space-between;
        background-color:white;
        margin-bottom: 30px;
        
}

h4{
 background-color:white; 
 &:hover {
    color: red;
    
    
  }
}
.alignItem{
 align-items: center;
 padding-left: 30px;
 padding-right: 30px;
}
.sliderimg{
padding: 20px;
}






